.query-title-input{
    background: none;
    border: none;
    border-bottom: 1px solid #E1E4E8;
    width: 80%;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16pt;
}
.query-form{

}

.delete-query-button{
    position: absolute;
    border: none;
    background: none;
    color: #646464;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.delete-query-button:hover{
    color:black;
}

.position-relative{
    position: relative
}

.query-area{
    width: 60%;
    padding-left: 20px;
}

.query-box{
    border: 1px solid #E1E4E8;
    border-radius: 16px 16px 16px 16px;
    background: white;
    min-height: 200px;
    margin-top:10px;
    padding: 20px;
}

.title-input{
    background: none;
    border: none;
    border-bottom: 1px solid #E1E4E8;
    width: 80%;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24pt;
}

input:focus{
    outline: none;
}

.floating-box{
    display: flex;
    flex-direction: column;
    padding: 10px;

    position: absolute;
    right: 30px;
    top: 50px;

    min-width: 200px;
    width: 30%;
    height: 200px;

    border: 4px solid #7AA3FC;
    border-radius: 12px 12px 12px 12px;
    background: #FEFEFE;
}