.display-flex{
    display: flex;
}

.display-inline{
    display: inline;
}

.display-inline-block{
    display: inline-block;
}

.position-relative {
    position: relative!important;
}

.position-absolute {
    position: absolute!important;
}

.flex-wrapper{
    flex-wrap: wrap!important;
}

.content-box{
    width:75%;
    padding: 35px;
}

.content-box-width-1{
    width: 66.67% !important;
}
.content-box-width-2{
    width: 100% !important;
}

.survey-box{
    border-radius: 20px 20px 20px 20px;
    border: 2px solid #717171;
    margin: 22px 22px 0px 30px;
    height: 210px;
    width: 210px;
    background: #FFFFFF;
}


.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

header{
    position: relative;
    background: #24292e;
    height: 65px;
    padding: 12px 10px 12px 25px;
}


.sign-out-form{
    padding: 20px;
    right: 0px;
}

.sign-out-input{
    background: none;
    border: none;
    color: white;
}

.search-wrapper{
    margin-left: 18px;
    width: 280px;
    height: 28px;
    border-radius: 7px 7px 7px 7px;
    border: 1px solid #646464;
}

.search-input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    padding-left: 8px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10pt;
    color: #646464;
}

.search-input:focus{
    color: white;
}

.aside-inner-div{
    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13.5pt;
}

div.aside-inner-div div{
    margin: 10px;
}

aside{
    width: 25%;
    max-width: 350px;
    padding: 35px 35px 35px 50px;
    background: #FFFFFF;
}

.aside-width-1{
    width: 33.33% !important;
}

.aside-width-2{
    width: 100%;
}

.search-button{
    width: 15px;
    height: 15px;
    right:0;
    background: none;
    border: none;
}


body{
    margin: 0px;
    position: relative;
    background: #F6F8FA;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}