@charset "utf-8";
@import url("framework.css");
/*
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Copyright: OS-Templates.com
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
*/


/* Main page */
#main{background-image:url('../images/home/home.jpg');}

#mainnav{float:right;}
#mainnav li{display:inline-block; position:relative; font-weight: bolder}

#mainpage{padding:200px 0; width: 100vw; height: 90vh;}
#mainpage article{display:block; margin-left: 5%; max-width:50%; word-break: keep-all; word-wrap: break-word;}
#mainpage .heading{margin-bottom:20px; font-size:4rem;}
#mainpage p{max-width:75%; margin: 20px 0; font-size:1.5rem;}
#mainpage footer{margin-top:30px; font-weight: bolder}


/* Content */
.container{padding:80px 0;}


/* row2 */
.articles{}
.articles > li{margin-bottom:50px;}
.articles > li:nth-child(4n+1){margin-left:0; clear:left;} /* Remove left padding only the leftmost element */
.articles article{display:block; position:relative;}
.articles article *{margin:0; padding:0;}
.articles article i{display:inline-block; line-height:1; margin: 20px; font-size:36px;}
.articles article p{height: 80px; word-break: keep-all; word-wrap: break-word;}
.articles article .heading, .articles article p{margin-bottom:20px;}


/* row3 */
.figures{}
.figures > li{}
.figures > li:last-child{margin-bottom:0;}/* Used when elements stack in small viewports */
.figures > li > figure{display:inline-block; position:relative; width:100%; max-width:300px;}
.figures > li > figure img{}
.figures > li > figure figcaption{}
.figures > li > figure figcaption a{display:block; position:relative; width:100%; padding:15px; border:solid; border-width:0 0 0 3px;}
.figures > li > figure figcaption em{height:auto; padding:8px; text-align:center; width: fit-content; height:40px; line-height:50px; font-size:1.3rem; font-style:normal;}
.figures > li > figure figcaption p{padding:15px 0 0;}
#popular_svy > footer a{border: 2px solid;}


/* bottom Copyright */
#copyright{padding:10px 0;}
#copyright *{margin:0; padding:0;}
#copyright .list_copyright{display: block; list-style:none; padding-left:0px;}
#copyright .list_copyright > li{float:left;}
#copyright .list_copyright > li::after{content: "|";}
/*#copyright .list_copyright > li:last-child::after{content: "";}*/
#copyright .list_copyright > li a{margin: 0 5px;}
#copyright .txt_copyright{display:block; float: right;}


/* Back to Top */
#backtotop{position:fixed; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:1.4rem; text-align:center; opacity:.6;}
#backtotop:hover{opacity:1;}


/* Colours 7AA3FC 487BCB */
/* ------------------------------------------------------------------------------------------------- */

body{color:#C1C2C4; background-color:#292929;}
a{color:#7AA3FC /*#DC8E47*/; }
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#7AA3FC /*#DC8E47*/; border-color:#7AA3FC /*#DC8E47*/; border-radius: 7px;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}

.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{background-color:rgba(0,0,0,.55);}
.overlay.light::after{background-color:rgba(255,255,255,.6);}

.heading.underline::after{background-color:#7AA3FC /*#DC8E47*/;}
/*btn, .btn.inverse:hover{color:#FFFFFF; background-color:#DC8E47; border-color:#DC8E47;}*/



/* Rows */
.row1, .row1 a{color:#FFFFFF;}
.row2{color:#474747; background-color:#FFFFFF;}
.row3{color:#474747; background-color:#F4F4F4;}
.row4, .row4 a{color:#EEEEEE; background-color:#292929;}
.row5{color:#C1C2C4; background-color:#1A1914;}


/* Content - row2 */
.articles a{color:inherit;}
.articles article:hover a{color:#7AA3FC /*#DC8E47*/;}


/* Content - row3 */
.figures > li > figure figcaption a{border-color:#FFFFFF #7AA3FC /*#DC8E47*/;}
.figures > li > figure:hover figcaption a{border-left-color:#7AA3FC /*#DC8E47*/;}
.figures.latest > li > figure figcaption a::after{border-color:#7AA3FC /*#DC8E47*/;}
.figures.latest > li > figure:hover figcaption a::after{border-color:#FFFFFF;}
.figures > li > figure figcaption a{color:#474747; background-color:#FFFFFF;}
.figures > li > figure:hover figcaption a{color:#FFFFFF; background-color:#7AA3FC /*#DC8E47*/;}
.figures > li > figure figcaption em{color:#FFFFFF; background-color:rgba(122,163,252,.5) /*rgba(220,142,71,.5)*/;}
#popular_svy > footer a:hover{color:#7AA3FC /*#DC8E47*/;}


/* TOP button */
#backtotop{color:#FFFFFF; background-color:#7AA3FC /*#DC8E47*/;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1140px){
    .hoc{max-width:1080px;}
}

@media screen and (min-width:980px) and (max-width:1080px){
    .hoc{max-width:95%;}
}
