<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SurveyMapper">
    <select id="getSurveys" resultType="java.util.HashMap">
        SELECT * FROM SURVEY
    </select>

    <select id="selectSurvey" resultType="com.survey_in.entity.Survey">
        SELECT * from SURVEY
        WHERE SURVEY_ID = #{survey_id}
    </select>

    <insert id="insertSurvey" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO SURVEY (MEMBER_ID, TITLE, CATEGORY, CAPACITY, POINT, QUESTION_CNT, AGE_LIMIT, GENDER_LIMIT)
        VALUES(#{member_id}, #{title}, #{category}, #{capacity}, #{point}, #{questionCnt}, #{age_limit}, #{gender_limit})
    </insert>

    <delete id="deleteSurvey">
        DELETE FROM SURVEY
        WHERE SURVEY_ID = #{survey_id}
    </delete>

    <select id="selectMemberSurveys" resultType="com.survey_in.entity.Survey">
        SELECT * from SURVEY
        WHERE MEMBER_ID = #{member_id}
    </select>
</mapper>